{% extends "base.html" %}
{% block content %}
<h1>Set an Preset</h1>

<p>Here is how you set an preset</p>
<form>
   <p>
        Preset 1<br>
        {{form.presets1(size=60)}}<br>
   </p>
   <p>
        Preset 2<br>
        {{form.presets2(size=60)}}<br>
   </p>
   <p>
        Preset 3<br>
        {{form.presets3(size=60)}}<br>
   </p>
   <p>
        Preset 4<br>
        {{form.presets4(size=60)}}<br>
   </p>
   <p>
        Preset 5<br>
        {{form.presets5(size=60)}}<br>
   </p>
   <p>
        Preset 6<br>
        {{form.presets6(size=60)}}<br>
    </p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}